<template id="default-thread-event-template">
  <div v-if="!isHidden" class="event" class="info" @click="showRawJson = !showRawJson">
    <div class="meta">
      <div>{{ timeLabel }}</div>
      <div>{{ event.type }}</div>
    </div>
    <div v-if="showRawJson" class="raw-json">
      <pre>{{ rawJson }}</pre>
    </div>
  </div>
</template>
<script>
  function DefaultThreadEvent(event) {
    return {
      $template: '#default-thread-event-template',
      event,
      rawJson: JSON.stringify(event, null, 2),
      showRawJson: false,
      get timeLabel() {
        const value = this.event?.timestamp;
        if (!value) return '--';
        const date = new Date(value);
        if (Number.isNaN(date.getTime())) return String(value);
        return date.toLocaleTimeString();
      },
      get isHidden() {
        return [
          'input.prompt.queued',
          'input.abort'
        ].includes(this.event?.type);
      },
    };
  }
</script>
